<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
    <script defer src="js/logic.js"></script>
  </head>
  <body>
    <%- include('partials/header.ejs') %>

    <div>
      <% if(errorMessage) { %>
      <div style="margin-left: 20px">
        <p style="color: red"><%= errorMessage %></p>
      </div>
      <% } %>
    </div>
    <div class="sign-up_container">
      <form action="/signup" method="POST">
        <div class="container">
          <!-- <div class="name">
            <label for="name">name</label>
            <br />
            <input name="name" class="name" type="text" id="name" />
          </div> -->

          <div class="email">
            <label for="email">Email</label>
            <br />
            <input
              name="email"
              class="email"
              type="email"
              id="email"
              value="<%=oldInput.email%>"
            />
          </div>

          <div class="password">
            <label for="password">Password</label>
            <br />
            <input
              name="password"
              class="password"
              type="password"
              id="password"
              value="<%=oldInput.password%>"
            />
          </div>
          <div class="password">
            <label for="password">ConfirmPassword</label>
            <br />
            <input
              name="confirmPassword"
              class="password"
              type="password"
              id="confirmPassword"
            />
          </div>

          <div>
            <button class="submit" type="submit">Create Account</button>
          </div>
        </div>
      </form>
    </div>
    <%- include('partials/footer.ejs') %>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
